.advert {
    height: 50vh;
    background-image: url('./images/wwp.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.advertOv {
    height: 150vh;

}